<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>title</key>
        <string>Letter Gestures</string>
        <key>items</key>
        <array>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <true/>
                <key>defaults</key>
                <string>jp.r-plus.Sleipnizer</string>
                <key>key</key>
                <string>GesturesEnabled</string>
                <key>label</key>
                <string>Enabled</string>
                <key>PostNotification</key>
                <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkListCell</string>
                <key>default</key>
                <string>80</string>
                <key>defaults</key>
                <string>jp.r-plus.Sleipnizer</string>
                <key>key</key>
                <string>Sensitivity</string>
                <key>label</key>
                <string>Sensitivity (pt)</string>
                <key>PostNotification</key>
                <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
                <key>detail</key>
                <string>PSListItemsController</string>
                <key>validValues</key>
                <array>
                    <string>80</string>
                    <string>100</string>
                    <string>120</string>
                    <string>160</string>
                    <string>200</string>
                </array>
                <key>validTitles</key>
                <array>
                    <string>80 (default)</string>
                    <string>100</string>
                    <string>120</string>
                    <string>160</string>
                    <string>200 (insensitive)</string>
                </array>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>"L" Letter Gestures</string>
                <key>footerText</key>
                <string>U=Up, D=Down, L=Left, R=Right</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <true/>
                <key>defaults</key>
                <string>jp.r-plus.Sleipnizer</string>
                <key>key</key>
                <string>LLetterGesturesEnabled</string>
                <key>label</key>
                <string>Enabled</string>
                <key>PostNotification</key>
                <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkListCell</string>
                <key>default</key>
                <string>29</string>
                <key>defaults</key>
                <string>jp.r-plus.Sleipnizer</string>
                <key>key</key>
                <string>ULAction</string>
                <key>label</key>
                <string>UL Action</string>
                <key>PostNotification</key>
                <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
                <key>detail</key>
                <string>GroupedListItemsController</string>
                <key>id</key>
                <string>ULAction</string>
                <key>valuesDataSource</key>
                <string>valuesSource:</string>
                <key>titlesDataSource</key>
                <string>titlesSource:</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkListCell</string>
                <key>default</key>
                <string>28</string>
                <key>defaults</key>
                <string>jp.r-plus.Sleipnizer</string>
                <key>key</key>
                <string>URAction</string>
                <key>label</key>
                <string>UR Action</string>
                <key>PostNotification</key>
                <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
                <key>detail</key>
                <string>GroupedListItemsController</string>
                <key>id</key>
                <string>URAction</string>
                <key>valuesDataSource</key>
                <string>valuesSource:</string>
                <key>titlesDataSource</key>
                <string>titlesSource:</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkListCell</string>
                <key>default</key>
                <string>15</string>
                <key>defaults</key>
                <string>jp.r-plus.Sleipnizer</string>
                <key>key</key>
                <string>DLAction</string>
                <key>label</key>
                <string>DL Action</string>
                <key>PostNotification</key>
                <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
                <key>detail</key>
                <string>GroupedListItemsController</string>
                <key>id</key>
                <string>DLAction</string>
                <key>valuesDataSource</key>
                <string>valuesSource:</string>
                <key>titlesDataSource</key>
                <string>titlesSource:</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkListCell</string>
                <key>default</key>
                <string>12</string>
                <key>defaults</key>
                <string>jp.r-plus.Sleipnizer</string>
                <key>key</key>
                <string>DRAction</string>
                <key>label</key>
                <string>DR Action</string>
                <key>PostNotification</key>
                <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
                <key>detail</key>
                <string>GroupedListItemsController</string>
                <key>id</key>
                <string>DRAction</string>
                <key>valuesDataSource</key>
                <string>valuesSource:</string>
                <key>titlesDataSource</key>
                <string>titlesSource:</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>"U" Letter Gestures</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <true/>
                <key>defaults</key>
                <string>jp.r-plus.Sleipnizer</string>
                <key>key</key>
                <string>ULetterGesturesEnabled</string>
                <key>label</key>
                <string>Enabled</string>
                <key>PostNotification</key>
                <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkListCell</string>
                <key>default</key>
                <string>0</string>
                <key>defaults</key>
                <string>jp.r-plus.Sleipnizer</string>
                <key>key</key>
                <string>ULDAction</string>
                <key>label</key>
                <string>ULD Action</string>
                <key>PostNotification</key>
                <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
                <key>detail</key>
                <string>GroupedListItemsController</string>
                <key>id</key>
                <string>ULDAction</string>
                <key>valuesDataSource</key>
                <string>valuesSource:</string>
                <key>titlesDataSource</key>
                <string>titlesSource:</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkListCell</string>
                <key>default</key>
                <string>0</string>
                <key>defaults</key>
                <string>jp.r-plus.Sleipnizer</string>
                <key>key</key>
                <string>URDAction</string>
                <key>label</key>
                <string>URD Action</string>
                <key>PostNotification</key>
                <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
                <key>detail</key>
                <string>GroupedListItemsController</string>
                <key>id</key>
                <string>URDAction</string>
                <key>valuesDataSource</key>
                <string>valuesSource:</string>
                <key>titlesDataSource</key>
                <string>titlesSource:</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkListCell</string>
                <key>default</key>
                <string>0</string>
                <key>defaults</key>
                <string>jp.r-plus.Sleipnizer</string>
                <key>key</key>
                <string>DLUAction</string>
                <key>label</key>
                <string>DLU Action</string>
                <key>PostNotification</key>
                <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
                <key>detail</key>
                <string>GroupedListItemsController</string>
                <key>id</key>
                <string>DLUAction</string>
                <key>valuesDataSource</key>
                <string>valuesSource:</string>
                <key>titlesDataSource</key>
                <string>titlesSource:</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkListCell</string>
                <key>default</key>
                <string>0</string>
                <key>defaults</key>
                <string>jp.r-plus.Sleipnizer</string>
                <key>key</key>
                <string>DRUAction</string>
                <key>label</key>
                <string>DRU Action</string>
                <key>PostNotification</key>
                <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
                <key>detail</key>
                <string>GroupedListItemsController</string>
                <key>id</key>
                <string>DRUAction</string>
                <key>valuesDataSource</key>
                <string>valuesSource:</string>
                <key>titlesDataSource</key>
                <string>titlesSource:</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Glitchy Gestures</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkCell</string>
                <key>detail</key>
                <string>SleipnizerLABGestureController</string>
                <key>label</key>
                <string>Glitchy Gestures</string>
            </dict>
        </array>
    </dict>
</plist>

