<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>title</key>
        <string>Sleipnizer for Safari</string>
        <key>entry</key>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>icon</key>
            <string>SleipnizerforSafari.png</string>
            <key>label</key>
            <string>Sleipnizer for Safari</string>
        </dict>
        <key>items</key>
        <array>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>footerText</key>
                <string>SocialFormatter auto inserts title to Facebook, Twitter and Weibo sharing.</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <true/>
                <key>defaults</key>
                <string>jp.r-plus.Sleipnizer</string>
                <key>key</key>
                <string>OpenTabBackgroundEnabled</string>
                <key>label</key>
                <string>OpenTabBG+ Enabled</string>
                <key>PostNotification</key>
                <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <true/>
                <key>defaults</key>
                <string>jp.r-plus.Sleipnizer</string>
                <key>key</key>
                <string>TweetFormat</string>
                <key>label</key>
                <string>SocialFormatter Enabled</string>
                <key>PostNotification</key>
                <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
                <key>pl_filter</key>
                <dict>
                    <key>CoreFoundationVersion</key>
                    <array>
                        <string>675.00</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <true/>
                <key>defaults</key>
                <string>jp.r-plus.Sleipnizer</string>
                <key>key</key>
                <string>KillSmartBanner</string>
                <key>label</key>
                <string>SmartBannerKiller Enabled</string>
                <key>id</key>
                <string>SmartBannerKiller</string>
                <key>PostNotification</key>
                <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
                <key>pl_filter</key>
                <dict>
                    <key>CoreFoundationVersion</key>
                    <array>
                        <string>793.00</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <false/>
                <key>defaults</key>
                <string>jp.r-plus.Sleipnizer</string>
                <key>key</key>
                <string>InfiniRestoreTab</string>
                <key>label</key>
                <string>InfiniRestoreTab Enabled</string>
                <key>id</key>
                <string>InfiniRestoreTab</string>
                <key>PostNotification</key>
                <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
                <key>requiredCapabilities</key>
                <array>
                    <string>ipad</string>
                </array>
                <key>pl_filter</key>
                <dict>
                    <key>CoreFoundationVersion</key>
                    <array>
                        <string>675.00</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkCell</string>
                <key>detail</key>
                <string>SleipnizerLetterGestureController</string>
                <key>label</key>
                <string>Letter Gestures</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkCell</string>
                <key>detail</key>
                <string>SleipnizerPullToActionController</string>
                <key>label</key>
                <string>Pull Gestures</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkCell</string>
                <key>detail</key>
                <string>SleipnizerTapActionController</string>
                <key>label</key>
                <string>Tap Gestures</string>
            </dict>
            <dict>
                <key>label</key>
                <string>Action Panel</string>
                <key>cell</key>
                <string>PSLinkCell</string>
                <key>detail</key>
                <string>AdditionalSpecifierListController</string>
                <key>SLPlistName</key>
                <string>ActionPanel</string>
                <key>SLLabel</key>
                <string>Action</string>
                <key>SLKey</key>
                <string>SLActionList</string>
                <key>SLValuesSource</key>
                <string>valuesSource:</string>
                <key>SLTitlesSource</key>
                <string>titlesSource:</string>
                <key>pl_filter</key>
                <dict>
                    <key>CoreFoundationVersion</key>
                    <array>
                        <string>793.00</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>JavaScript</string>
                <key>footerText</key>
                <string></string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkCell</string>
                <key>detail</key>
                <string>SleipnizerJSActionController</string>
                <key>label</key>
                <string>JavaScript Action</string>
                <key>SLKey</key>
                <string>SLJSList</string>
                <key>SLLabel</key>
                <string>Bookmarklet</string>
                <key>SLPlistName</key>
                <string>JS</string>
                <key>SLValuesSource</key>
                <string>javascriptURLSource:</string>
                <key>SLTitlesSource</key>
                <string>javascriptTitleSource:</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkCell</string>
                <key>detail</key>
                <string>SleipnizerOnLoadJSActionController</string>
                <key>label</key>
                <string>onLoad JavaScript</string>
                <key>SLKey</key>
                <string>SLOnLoadJSList</string>
                <key>SLLabel</key>
                <string>Bookmarklet</string>
                <key>SLPlistName</key>
                <string>onLoadJS</string>
                <key>SLValuesSource</key>
                <string>javascriptURLSource:</string>
                <key>SLTitlesSource</key>
                <string>javascriptTitleSource:</string>
            </dict>
            <!--
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>FullScreen</string>
                <key>footerText</key>
                <string>If "Relate to native" is ON, Sleipnizer's state will reflect native state.</string>
                <key>requiredCapabilities</key>
                <array>
                    <string>ipad</string>
                </array>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <false/>
                <key>defaults</key>
                <string>jp.r-plus.Sleipnizer</string>
                <key>key</key>
                <string>KeepTabBarEnabled</string>
                <key>id</key>
                <string>KeepTabBar</string>
                <key>label</key>
                <string>Keep TabBar</string>
                <key>PostNotification</key>
                <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
                <key>requiredCapabilities</key>
                <array>
                    <string>ipad</string>
                </array>
                <key>pl_filter</key>
                <dict>
                    <key>CoreFoundationVersion</key>
                    <array>
                        <string>675.00</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <false/>
                <key>defaults</key>
                <string>jp.r-plus.Sleipnizer</string>
                <key>key</key>
                <string>StartUpFullScreenEnabled</string>
                <key>label</key>
                <string>Startup FullScreen</string>
                <key>PostNotification</key>
                <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
                <key>requiredCapabilities</key>
                <array>
                    <string>ipad</string>
                </array>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <false/>
                <key>defaults</key>
                <string>jp.r-plus.Sleipnizer</string>
                <key>key</key>
                <string>ScrollToFullScreenEnabled</string>
                <key>label</key>
                <string>Scroll to FullScreen</string>
                <key>PostNotification</key>
                <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
                <key>pl_filter</key>
                <dict>
                    <key>CoreFoundationVersion</key>
                    <array>
                        <string>675.00</string>
                    </array>
                </dict>
                <key>requiredCapabilities</key>
                <array>
                    <string>ipad</string>
                </array>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkListCell</string>
                <key>default</key>
                <string>0.5</string>
                <key>defaults</key>
                <string>jp.r-plus.Sleipnizer</string>
                <key>key</key>
                <string>FullScreenDuration</string>
                <key>label</key>
                <string>Animation Speed</string>
                <key>PostNotification</key>
                <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
                <key>detail</key>
                <string>PSListItemsController</string>
                <key>validValues</key>
                <array>
                    <string>0</string>
                    <string>0.5</string>
                </array>
                <key>validTitles</key>
                <array>
                    <string>0s</string>
                    <string>0.5s</string>
                </array>
                <key>requiredCapabilities</key>
                <array>
                    <string>ipad</string>
                </array>
            </dict>
            -->
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Others</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkCell</string>
                <key>detail</key>
                <string>SleipnizerLicenseViewController</string>
                <key>label</key>
                <string>License</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSStaticTextCell</string>
                <key>label</key>
                <string>Author @r_plus</string>
            </dict>
        </array>
    </dict>
</plist>
